<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd
              http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<security:authentication-manager alias="_authenticationManager" />

	<bean id="userDetailsService"
		class="de.powerstaff.business.service.impl.PowerstaffUserDetailsServiceImpl">
		<property name="authorities">
			<list>
				<value>ROLE_USER</value>
			</list>
		</property>
	</bean>

	<security:authentication-provider
		user-service-ref="userDetailsService" />

	<bean id="ntlmEntryPoint"
		class="org.springframework.security.ui.ntlm.NtlmProcessingFilterEntryPoint">
		<property name="authenticationFailureUrl"
			value="/access_denied.jsp" />
	</bean>

	<bean id="ntlmFilter"
		class="org.springframework.security.ui.ntlm.NtlmProcessingFilter">
		<security:custom-filter position="NTLM_FILTER" />
		<property name="stripDomain">
			<util:property-path path="systemParameterService.ntlmStripDomain"/>
		</property>
		<property name="defaultDomain">
			<util:property-path path="systemParameterService.ntlmDefaultDomain"/>
		</property>
		<property name="domainController">
			<util:property-path path="systemParameterService.ntlmDomainController"/>
		</property>
		<property name="authenticationManager"
			ref="_authenticationManager" />
	</bean>

	<bean id="disableProxyFilter"
		class="de.mogwai.common.web.filter.DisableProxyFilter">
		<security:custom-filter
			before="AUTHENTICATION_PROCESSING_FILTER" />
	</bean>

	<bean id="securityContextToUserContextFilter"
		class="de.mogwai.common.web.filter.SecurityContextToUserContextFilter">
		<security:custom-filter
			after="AUTHENTICATION_PROCESSING_FILTER" />
	</bean>

	<bean id="startPageFilter"
		class="de.powerstaff.web.filter.RedirectToStartPageFilter">
		<security:custom-filter before="SWITCH_USER_FILTER" />
		<property name="startPage" value="/welcome.faces" />
	</bean>

	<bean id="promoteUserIDToLog4JNDCFilter"
		class="de.mogwai.common.web.filter.PromoteUserIDToLog4JNDCFilter">
		<security:custom-filter after="SWITCH_USER_FILTER" />
	</bean>

	<security:http access-decision-manager-ref="accessDecisionManager"
		entry-point-ref="ntlmEntryPoint" 
		servlet-api-provision="false">
		<security:intercept-url pattern="/access_denied.jsp"
			filters="none" />
		<security:intercept-url pattern="/images/**" filters="none" />
		<security:intercept-url pattern="/script/**" filters="none" />
		<security:intercept-url pattern="/style/**" filters="none" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
	</security:http>

	<bean id="accessDecisionManager"
		class="org.springframework.security.vote.UnanimousBased">
		<property name="allowIfAllAbstainDecisions" value="false" />
		<property name="decisionVoters">
			<list>
				<bean id="roleVoter"
					class="org.springframework.security.vote.RoleVoter" />
			</list>
		</property>
	</bean>
</beans>