<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="freelancerBackingBean" class="de.powerstaff.web.backingbean.freelancer.FreelancerBackingBean"
          scope="request">
        <property name="additinalDataService" ref="additinalDataService"/>
        <property name="profileSearchService" ref="profileSearchService"/>
        <property name="entityService" ref="freelancerService"/>
        <property name="contextUtils" ref="contextUtils"/>
        <property name="projectService" ref="projectService"/>
        <property name="tagService" ref="tagService"/>
        <property name="xingConnectorBackingBean" ref="xingConnectorBackingBean"/>
    </bean>

    <bean name="customerBackingBean" class="de.powerstaff.web.backingbean.customer.CustomerBackingBean" scope="request">
        <property name="additinalDataService" ref="additinalDataService"/>
        <property name="entityService" ref="customerService"/>
        <property name="projectService" ref="projectService"/>
    </bean>

    <bean name="partnerBackingBean" class="de.powerstaff.web.backingbean.partner.PartnerBackingBean" scope="request">
        <property name="additinalDataService" ref="additinalDataService"/>
        <property name="entityService" ref="partnerService"/>
        <property name="freelancerService" ref="freelancerService"/>
        <property name="projectService" ref="projectService"/>
    </bean>

    <bean name="projectBackingBean" class="de.powerstaff.web.backingbean.project.ProjectBackingBean" scope="request">
        <property name="entityService" ref="projectService"/>
        <property name="contextUtils" ref="contextUtils"/>
        <property name="freelancerService" ref="freelancerService"/>
        <property name="customerService" ref="customerService"/>
        <property name="partnerService" ref="partnerService"/>
        <property name="profileSearchService" ref="profileSearchService"/>
        <property name="additionalDataService" ref="additinalDataService"/>
    </bean>

    <bean name="profileBackingBean" class="de.powerstaff.web.backingbean.profile.ProfileBackingBean" scope="request">
        <property name="freelancerService" ref="freelancerService"/>
        <property name="profileSearchService" ref="profileSearchService"/>
        <property name="contextUtils" ref="contextUtils"/>
        <property name="tagService" ref="tagService"/>
    </bean>

    <bean name="loginBackingBean" class="de.powerstaff.web.backingbean.login.LoginBackingBean" scope="request">
        <property name="loginService" ref="loginService"/>
        <property name="freelancerBackingBean" ref="freelancerBackingBean"/>
        <property name="xingConnectorBackingBean" ref="xingConnectorBackingBean"/>
    </bean>

    <bean name="statistikBackingBean" class="de.powerstaff.web.backingbean.statistik.StatistikBackingBean"
          scope="request">
        <property name="additionalDataService" ref="additinalDataService"/>
        <property name="statisticService" ref="statistikService"/>
    </bean>

    <bean name="contextUtils" class="de.powerstaff.web.backingbean.ContextUtils">
        <property name="projectService" ref="projectService"/>
    </bean>
    
    <bean name="xingConnectorBackingBean" class="de.powerstaff.web.backingbean.XingConnectorBackingBean">
        <property name="consumerKey" value="83345b59b852c1dc042a"/>
        <property name="consumerSecret" value="f6f6762fd1a586ee39b2dfb3a4e68354946a42a9"/>
    </bean>

    <bean name="tagsBackingBean" class="de.powerstaff.web.backingbean.tags.TagsBackingBean"
          scope="request">
        <property name="tagService" ref="tagService"/>
        <property name="freelancerService" ref="freelancerService"/>
    </bean>

</beans>