<body>
<!-- *****************************************************************************************************************************************
	 Header: Logo, Lokalisation
**************************************************************************************************************************************** //-->
<div id="logo"></div>
<div id="kopfAmt">
	<div id="adminCH">
		<a href="http://www.admin.ch/" title="Link zur Bundesverwaltung admin.ch" class="adminCHlink">Bundesverwaltung admin.ch</a>
	</div>
	<div id="departement">
		<a href="http://www.bk.admin.ch/" title="Link zur Bundeskanzlei" class="departementlink">$bezeichnungDepartement</a>
	</div>
	<div id="lokalisationAmt">
$bezeichnungAmt
$userInfo
	</div>
</div>
<!-- *****************************************************************************************************************************************
	 Header: Servicenavigation
**************************************************************************************************************************************** //-->
<div id="navServiceBackground">
  <div id="navService">
$navigationService
  </div>
<!-- *****************************************************************************************************************************************
	 Header: Sprachwechsel
**************************************************************************************************************************************** //-->
  <div id="langSwitch">
$sprachauswahl
  </div>
</div>
<!-- *****************************************************************************************************************************************
	 Header: Globalnavigation
**************************************************************************************************************************************** //-->
<!-- *****************************************************************************************************************************************
	 Header: Globalnavigation
**************************************************************************************************************************************** //-->
<div id="navGlobalBackground">
$navigationGlobal
</div>
<div style="clear:left"></div>
<!-- *****************************************************************************************************************************************
	 Content: Navigationsspalte
**************************************************************************************************************************************** //-->
<div id="content">
<div id="spalteNavigation">
$navigationDetail
</div>
<!-- *****************************************************************************************************************************************
	 Content: Inhaltsspalte
**************************************************************************************************************************************** //-->
<div id="spalteContent">
<!-- *****************************************************************************************************************************************
	 Content: Inhalte
**************************************************************************************************************************************** //-->
$funktionen

$content	
</div>
</div>