<head>
	<title>$title</title>
	<style media="screen" type="text/css">
		@import "styles/style.css";
		@import "styles/layout.css";
		@import "styles/bedaglayout.css";		
		@import "styles/datepicker.css";				
		@import "styles/common.css";
	</style>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta content="" name="description" />
	<meta content="" name="keywords" />
    <meta name="keywords" content="Schweiz, Suisse, Swizzera, Switzerland, Verwaltung, Administration, Amministrazione, Administration, design, logo, image, identity" />
    <script type="text/javascript" src="script/datepicker.js"></script>	
    <script type="text/javascript" src="script/bedaglayout.js"></script>	    
</head>
